{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Dodaj nowe Wydarzenie</h2>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="mb-3">
            {{ form.date.label(class="form-label") }}
            {{ form.date(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control") }}
        </div>

        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control", rows=3) }}  <!-- Dodaj rows dla textarea -->
        </div>

        <div class="d-grid">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
