{% extends "base.html" %}
{% block content %}

<div class="camera-container">
    <h3>Co dzieje się na Hlywie</h3>
       <iframe id="camera-frame" src="https://rtsp.me/embed/62bBnQNN" frameborder="0" allowfullscreen></iframe>

    <!-- Sekcja czatu -->
    <div class="chat-container mt-4">
        <h3>Czat użytkowników</h3>
        <div id="chat-messages" class="chat-messages">
            <!-- Wiadomości czatu będą wyświetlane tutaj -->
        </div>
                <div class="active-users-container">
    <h3>Kto teraz patrzy</h3>
    <div id="active-users"></div>
</div>
        <form id="chat-form">
            <textarea id="chat-message" class="form-control" placeholder="Napisz wiadomość..." rows="3"></textarea>
            <button type="submit" class="btn btn-primary mt-2">Wyślij</button>
        </form>
    </div>
</div>




{% endblock %}