{% extends "base.html" %}
{% block content %}

<h1>Dino by Hlyw</h1>
<center>
   <div id="characterSelect">
    <h2>Wybierz swój pojazd</h2>
    <form id="characterForm">
        <label>
            <input type="radio" name="character" value="dino1" onclick="selectCharacter('dino1')" checked>
            <img src="static/images/profile_pics/{{ current_user.photo }}" alt="Twój awatar" class="character-icon">
            Twój awatar
        </label>
        <label>
            <input type="radio" name="character" value="bmw_e92" onclick="selectCharacter('bmw_e92')">
            <img src="static/images/dino/bmw_e92.png" alt="BMW E92" class="character-icon">
            BMW E92
        </label>
        <label>
            <input type="radio" name="character" value="golf_3" onclick="selectCharacter('golf_3')">
            <img src="static/images/dino/golf_3.png" alt="VW Golf 3" class="character-icon">
            VW Golf 3
        </label>
        <label>
            <input type="radio" name="character" value="scirocco" onclick="selectCharacter('scirocco')">
            <img src="static/images/dino/scirocco.png" alt="VW Scirocco" class="character-icon">
            VW Scirocco
        </label>
        <label>
            <input type="radio" name="character" value="bmw_e36" onclick="selectCharacter('bmw_e36')">
            <img src="static/images/dino/bmw_e36.png" alt="BMW E36" class="character-icon">
            BMW E36
        </label>
        <label>
            <input type="radio" name="character" value="swift" onclick="selectCharacter('swift')">
            <img src="static/images/dino/swift.png" alt="Suzuki Swift" class="character-icon">
            Suzuki Swift
        </label>
        <label>
            <input type="radio" name="character" value="vario" onclick="selectCharacter('vario')">
            <img src="static/images/dino/vario.png" alt="Seat Cordoba Vario" class="character-icon">
            Seat Cordoba Vario
        </label>
        <label>
            <input type="radio" name="character" value="sejol" onclick="selectCharacter('sejol')">
            <img src="static/images/dino/sejol.png" alt="Fiat Seicento" class="character-icon">
            Fiat Seicento
        </label>
        <label>
            <input type="radio" name="character" value="altea" onclick="selectCharacter('altea')">
            <img src="static/images/dino/altea.png" alt="Seat Altea" class="character-icon">
            Seat Altea
        </label>
        <label>
            <input type="radio" name="character" value="panda" onclick="selectCharacter('panda')">
            <img src="static/images/dino/panda.png" alt="Fiat Panda" class="character-icon">
            Fiat Panda
        </label>
        <label>
            <input type="radio" name="character" value="bmw_e46" onclick="selectCharacter('bmw_e46')">
            <img src="static/images/dino/bmw_e46.png" alt="BMW E46" class="character-icon">
            BMW E46
        </label>
        <label>
            <input type="radio" name="character" value="maluch" onclick="selectCharacter('maluch')">
            <img src="static/images/dino/maluch.png" alt="Maluch" class="character-icon">
            Maluch
        </label>
        <label>
            <input type="radio" name="character" value="audi_a3" onclick="selectCharacter('audi_a3')">
            <img src="static/images/dino/audi_a3.png" alt="Audi A3 8L" class="character-icon">
            Audi A3 8L
        </label>
        <label>
            <input type="radio" name="character" value="volvo" onclick="selectCharacter('volvo')">
            <img src="static/images/dino/volvo.png" alt="Volvo S60" class="character-icon">
            Volvo S60
        </label>
        <label>
            <input type="radio" name="character" value="aygo" onclick="selectCharacter('aygo')">
            <img src="static/images/dino/aygo.png" alt="Toyota Aygo" class="character-icon">
            Toyota Aygo
        </label>
        <label>
            <input type="radio" name="character" value="renault" onclick="selectCharacter('renault')">
            <img src="static/images/dino/renault.png" alt="Renault Megane 3" class="character-icon">
            Renault Megane 3
        </label>
        <label>
            <input type="radio" name="character" value="peugeot" onclick="selectCharacter('peugeot')">
            <img src="static/images/dino/peugeot.png" alt="Peugeot 307" class="character-icon">
            Peugeot 307
        </label>
        <label>
            <input type="radio" name="character" value="trabant" onclick="selectCharacter('trabant')">
            <img src="static/images/dino/trabant.png" alt="Trabant" class="character-icon">
            Trabant
        </label>
        <label>
            <input type="radio" name="character" value="punto" onclick="selectCharacter('punto')">
            <img src="static/images/dino/punto.png" alt="Fiat Punto" class="character-icon">
            Fiat Punto
        </label>
        <label>
            <input type="radio" name="character" value="megane_2" onclick="selectCharacter('megane_2')">
            <img src="static/images/dino/megane_2.png" alt="Renault Megane 2" class="character-icon">
            Renault Megane 2
        </label>
                <label>
            <input type="radio" name="character" value="clio_3" onclick="selectCharacter('clio_3')">
            <img src="static/images/dino/clio_3.png" alt="Renault Clio 3" class="character-icon">
            Renault Clio 3
        </label>
    </form>
</div>

    <canvas id="gameCanvasDino" width="800" height="400" style="display: none;"></canvas>
    <p id="score">Wynik: 0</p>
    <div class="col-6 mb-2">
        <button id="startButton" class="btn btn-primary" onclick="startGame()">Rozpocznij grę</button>
    </div>
                <div class="col-6 text-center">
                <button id="jump" class="btn btn-secondary">Skacz</button>
            </div>
        </center>


<script>


const canvas = document.getElementById("gameCanvasDino");
const ctx = canvas.getContext("2d");

let characterImage = new Image();
let obstacleImages = ["static/images/dino/pachol.png", "static/images/dino/tyskie.png", "static/images/dino/marlboro.png", "static/images/dino/kraweznik.png", "static/images/dino/mikasa.png", "static/images/dino/molten.png", "static/images/dino/robercik.png", "static/images/dino/czucz.png", "static/images/dino/helikopter.png"];
let dino = { x: 50, y: 300, width: 70, height: 70, dy: 0, gravity: 0.4, isJumping: false };
let obstacles = [];
let score = 0;
let nextObstacleScore = 50; // Pierwszy próg punktowy dla przeszkód
let gameSpeed = 8;
let gameInterval = null;

// Funkcja wybierająca postać i ustawiająca grafikę
function selectCharacter(character) {
if(character=="dino1")
{
    characterImage.src = `static/images/profile_pics/{{ current_user.photo }}`;
    }
if(character=="bmw_e92")
{
    characterImage.src = `static/images/dino/bmw_e92.png`;
    }
if(character=="golf_3")
{
    characterImage.src = `static/images/dino/golf_3.png`;
    }
if(character=="scirocco")
{
    characterImage.src = `static/images/dino/scirocco.png`;
    }

if(character=="bmw_e36")
{
    characterImage.src = `static/images/dino/bmw_e36.png`;
    }

if(character=="swift")
{
    characterImage.src = `static/images/dino/swift.png`;
    }

if(character=="vario")
{
    characterImage.src = `static/images/dino/vario.png`;
    }

if(character=="sejol")
{
    characterImage.src = `static/images/dino/sejol.png`;
    }

if(character=="altea")
{
    characterImage.src = `static/images/dino/altea.png`;
    }
if(character=="panda")
{
    characterImage.src = `static/images/dino/panda.png`;
    }

if(character=="bmw_e46")
{
    characterImage.src = `static/images/dino/bmw_e46.png`;
    }

if(character=="maluch")
{
    characterImage.src = `static/images/dino/maluch.png`;
    }

if(character=="audi_a3")
{
    characterImage.src = `static/images/dino/audi_a3.png`;
    }

if(character=="volvo")
{
    characterImage.src = `static/images/dino/volvo.png`;
    }

if(character=="aygo")
{
    characterImage.src = `static/images/dino/aygo.png`;
    }

if(character=="renault")
{
    characterImage.src = `static/images/dino/renault.png`;
    }

if(character=="peugeot")
{
    characterImage.src = `static/images/dino/peugeot.png`;
    }

if(character=="trabant")
{
    characterImage.src = `static/images/dino/trabant.png`;
    }

if(character=="punto")
{
    characterImage.src = `static/images/dino/punto.png`;
    }

if(character=="megane_2")
{
    characterImage.src = `static/images/dino/megane_2.png`;
    }

    if(character=="clio_3")
{
    characterImage.src = `static/images/dino/clio_3.png`;
    }

}



// Funkcja rozpoczynająca grę
function startGame() {
    document.getElementById("characterSelect").style.display = "none"; // Ukrywa ekran wyboru
    canvas.style.display = "block"; // Wyświetla canvas
    gameInterval = setInterval(gameLoop, 20);
}

// Tworzenie nowej przeszkody
function createObstacle() {
    const randomObstacleImage = obstacleImages[Math.floor(Math.random() * obstacleImages.length)];
    let obstacle = {
        x: canvas.width,
        y: 300,
        width: 40,
        height: 40,
        image: new Image()
    };
    obstacle.image.src = randomObstacleImage;
    obstacles.push(obstacle);
}

// Aktualizacja przeszkód
function updateObstacles() {
    obstacles.forEach(obstacle => obstacle.x -= gameSpeed);
    obstacles = obstacles.filter(obstacle => obstacle.x + obstacle.width > 0);
}

// Rysowanie gracza
function drawDino() {
    ctx.drawImage(characterImage, dino.x, dino.y, dino.width, dino.height);
}

// Rysowanie przeszkód
function drawObstacles() {
    obstacles.forEach(obstacle => {
        ctx.drawImage(obstacle.image, obstacle.x, obstacle.y, obstacle.width, obstacle.height);
    });
}

// Sprawdzenie kolizji
function checkCollision() {
    for (let obstacle of obstacles) {
        if (
            dino.x < obstacle.x + obstacle.width &&
            dino.x + dino.width > obstacle.x &&
            dino.y < obstacle.y + obstacle.height &&
            dino.y + dino.height > obstacle.y
        ) {
            endGame();
            return true;
        }
    }
    return false;
}

// Zakończenie gry
function endGame() {
    clearInterval(gameInterval);


    fetch('/dino/save_score', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ score: score })
        })
        .then(response => response.json())
        .then(data => {
            // Przekierowanie do odpowiedniej strony po zapisaniu wyniku
            window.location.href = data.redirect_url;
        })
        .catch(error => console.error('Błąd:', error));
}

// Główna pętla gry
function gameLoop() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);

    // Aktualizacja pozycji gracza tylko podczas skoku
    if (dino.isJumping) {
        dino.dy += dino.gravity;
        dino.y += dino.dy;
        if (dino.y >= 300) {
            dino.y = 300;
            dino.isJumping = false;
        }
    }

    // Aktualizacja przeszkód i generowanie co 100 punktów
    updateObstacles();
    if (score >= nextObstacleScore) {
        createObstacle();
        nextObstacleScore += Math.floor(Math.random() * (100 - 40 + 1)) + 40; // Ustawia następny próg
        gameSpeed += 0.5;
    }

    // Sprawdzenie kolizji i zakończenie pętli gry w przypadku kolizji
    if (checkCollision()) return;

    // Rysowanie elementów
    drawDino();
    drawObstacles();

    // Aktualizacja wyniku
    score++;
    document.getElementById("score").innerText = `Wynik: ${score}`;
}

document.getElementById("jump").addEventListener("click", (e) => {
event.preventDefault();
    if (!dino.isJumping) {
        dino.isJumping = true;
        dino.dy = -10;
    }
});

// Obsługa skoku
document.addEventListener("keydown", (e) => {
event.preventDefault();
    if (e.code === "Space" && !dino.isJumping) {
        dino.isJumping = true;
        dino.dy = -10;
    }
});





</script>

{% endblock %}