{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Logowanie</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class="form-control-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
<h5>Nie masz jeszcze konta? -> <a href="/register">Zarejestruj się !</a> </h5>
{% endblock %}