<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/logo.png') }}" width="50%" height="50%" class="d-inline-block align-top" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Strona Główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/albums">Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">Breaking News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/albums">Druk 3D</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ostatnie-ulepszenia">Ostatnie Ulepszenia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar">Kalendarz</a>
            </li>
            {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Wyloguj</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Logowanie</a></li>
                {% endif %}
        </ul>
    </div>
</nav>