<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/logo.png') }}" width="50%" height="50%" class="d-inline-block align-top" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Strona Główna</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/albums">Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/news">Breaking News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/camera">Kamera</a>
            </li>
            <li class="nav-item">
    <a class="nav-link" href="/ostatnie-ulepszenia">Ostatnie Ulepszenia</a>
</li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar">Kalendarz</a>
            </li>
            <!-- Nowa sekcja Dodatki -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="extrasDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dodatki
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="extrasDropdown">
                    <a class="dropdown-item" href="{{ url_for('view_report_list') }}">Zgłoszenia</a>
                    <a class="dropdown-item" href="{{ url_for('users') }}">Użytkownicy</a>
                    <!-- Można tutaj dodać kolejne strony w przyszłości -->
                </div>
            </li>
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Wyloguj</a>
                </li>
                <!-- Przenieś zdjęcie użytkownika pod rozwiniętym menu -->
                <li class="nav-item user-profile">
                    <a href="{{ url_for('user_settings') }}">
                        <img src="static/images/profile_pics/{{ current_user.photo }}" class="rounded-circle" alt="User" width="40" height="40" style="object-fit: cover;">
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Logowanie</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>