{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Ranking gry Tetris</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Miejsce</th>
                    <th>Użytkownik</th>
                    <th>Ilość prób</th>
                    <th>Zdobytych punktów</th>
                    <th>Rekord</th>
                </tr>
            </thead>
            <tbody>
                {% for user in ranking_data %}
                <tr
                    {% if loop.index == 1 %} style="background-color: gold;"
                    {% elif loop.index == 2 %} style="background-color: silver;"
                    {% elif loop.index == 3 %} style="background-color: #cd7f32;"
                    {% endif %}
                >
                    <td>{{ loop.index }}</td>
                    <td><img src="static/images/profile_pics/{{ user.photo }}" class="rounded-circle" alt="User" width="40" height="40" style="object-fit: cover;"> {{ user.username }}</td>
                    <td>{{ user.attempts }}</td>
                    <td>{{ user.total_points }}</td>
                    <td>{{ user.high_score }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="10" class="text-center">Brak danych do wyświetlenia.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-end mt-3">
    <strong>Rozegranych gier:&nbsp;</strong> {{ rozegranych_gier }}
</div>
    </div>
</div>
{% endblock %}
