{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Statystyki użytkowników</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Miejsce</th>
                    <th>Użytkownik</th>
                    <th>Wiadomości</th>
                    <th>Zgłoszenia</th>
                    <th>Zdjęcia</th>
                    <th>Wydarzenia</th>
                    <th>Komentarze</th>
                    <th>Newsy</th>
                    <th>Punkty</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users_stats %}
                <tr
                    {% if loop.index == 1 %} style="background-color: gold;"
                    {% elif loop.index == 2 %} style="background-color: silver;"
                    {% elif loop.index == 3 %} style="background-color: #cd7f32;"
                    {% endif %}
                >
                    <td>{{ loop.index }}</td>
                    <td><img src="static/images/profile_pics/{{ user.photo }}" class="rounded-circle" alt="User" width="40" height="40" style="object-fit: cover;"> {{ user.username }}</td>
                    <td>{{ user.message_count }}</td>
                    <td>{{ user.report_count }}</td>
                    <td>{{ user.photo_count }}</td>
                    <td>{{ user.calendar_count }}</td>
                    <td>{{ user.comment_count }}</td>
                    <td>{{ user.news_count }}</td>
                    <td>{{ user.total_sum }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="10" class="text-center">Brak danych do wyświetlenia.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
