{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-end mb-3">
    <a href="{{ url_for('report') }}" class="btn btn-primary mx-2">Dodaj Zgłoszenie</a>
</div>
    <h2>Lista Zgłoszeń</h2>
    <ul>
        {% for report in reports %}
            <li>
                <a href="{{ url_for('view_report', report_id=report.id) }}">{{ report.title }}</a>
                (dodane przez: {{ report.user.username }} - {{ report.created_at }})
            </li>
        {% endfor %}
    </ul>
{% endblock %}